---
#note: cppcoreguidelines-pro-type-varar not compatible with boost::test
Checks: 'bugprone-*,clang-analyzer-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-cppcoreguidelines-pro-type-vararg,-clang-diagnostic-unused-command-line-argument'
#WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: WebKit     
...
